services:
  webapp:
    build:
      context: ./webapp
    ports:
      - "5001:5000"
    env_file:
      - .env
    volumes:
      - ./webapp:/app
      - ./.timeTrackerData:/root/.local/share/TimeTrackerWeb
    restart: unless-stopped
